
#cont_tit1
{
  width: 900px;
  position: absolute;
  margin-top: 4.5cm;
  margin-left:3.3cm;
}

h1
{
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 1.6cm;
  Line-height: 2.2cm;
  position: relative;
}

.animate__animated.animate__backInRight 
{
  --animate-repeat: 2;
  --animate-duration: 2s;
  
}



h2
{
  font-family: 'Bree Serif', serif;
  font-size: 1cm;
}


#titulo3
{

  color:#0f2b3a;
  margin-top: 4cm;
  margin-left: 3.9cm;
  padding-bottom:1.7cm;

}

p
{
  color:#0f2b3a;
  margin-top: -20px;
  padding-left: 1.4cm;
  font-family: 'STIX Two Math', serif;
  font-size: 0.7cm;
  line-height: 1.2cm;
  text-align: justify;
  
}


@keyframes slidein 
{
  from 
  {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 3.2cm;
    width: 100%;
  }
}

#titulo4
{
  margin-top: -5.5cm;
  margin-left: 7cm;
  color: #ffbc51;
  font-family: 'Bree Serif', serif;
  font-size: 1.1cm;
}

#parr2
{
  margin-top: 2cm;
  margin-left: 1.2cm;
  color: #ffbc51;
  font-family: 'STIX Two Math', serif;
  line-height: 1.2cm;
  text-align: justify;
  font-size: 0.7cm;
  


}

#parr3
{
  font-family: 'STIX Two Math', serif;
  color:#e656a5;
  line-height: 1.2cm;
  font-size: 0.7cm;
  margin-top: 2.5cm;
  padding-left: 1.4cm;
  font-family: 'STIX Two Math', serif;
  font-size: 0.7cm;
  line-height: 1.2cm;
  text-align: justify;
}

#titulo5
{

  margin-top: 5cm;
  margin-left: 4.8cm;
  color:#e656a5;
  font-family: 'Bree Serif', serif;
  font-size: 1cm;
  
}

h3
{
  font-family: 'Bree Serif', serif;
  margin-top: 2cm;
  font-size: 0.7cm;
  margin-left: 4.5cm;

}

#conoce
{
  color: #ffbc51;

}

#viaja
{
  color: #0f2b3a;
}

#participa
{
  color: white;
}



#prrf_conoce
{
  margin-top: 1.2cm;
  color: #ffbc51;
  font-size: 0.5cm;
}

#prrf_viaja
{
  margin-top: 1.2cm;
  color: #0f2b3a;
  font-size: 0.5cm;
}

#prrf_participa
{
  margin-top: 1.2cm;
  color: white;
  font-size: 0.5cm;
}

h4
{
  color: #ffffffbc;
  text-decoration-line: underline;
  font-family: 'STIX Two Math', serif;

}

#Derechos
{

  font-family: 'Nanum Myeongjo', serif;
  text-decoration-line: none;
  margin-left: 0.7cm ;
}

#hip1
{
  font-size: 0.5cm;
  margin-top: -4.5cm;
  margin-left: 26.5cm;
}

#hip2
{
  font-size: 0.5cm;
  margin-top: 0.5cm;
  margin-left: 26.5cm;
}

#hip3
{
  font-size: 0.5cm;
  margin-top: 0.5cm;
  margin-left: 26.5cm;
}


#hip4
{
  font-size: 0.5cm;
  margin-top: -4cm;
  margin-left: 32.3cm;
}


#hip5
{
  font-size: 0.5cm;
  margin-top: 0.5cm;
  margin-left: 32.3cm;
}




/* AGREGAR CODIGO NUEVO A APACHE NEATBEANS DESDE AQUÍ*/

#tit_grupo
{
  margin-top: 6.5cm;
  margin-left: 6.5cm;
  font-size: 1.4cm;
  color: white;
}
#img_atardecer
{
  background-image: url(../Imagenes/img_atardecer2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 890px;
  position: absolute;
}

#Caja_Opaca1
{
  margin-top: -6.5cm;
  width: 100%;
  height: 890px;
  background: #360b529a ;
  opacity: 0.5;
  position: absolute;

}

#Cuerpo
{
  margin-top: 0%;
  width: 100%;
  height: 890px;
}

.animate__fadeInRight
{

  animation-duration: 2.9s; /* don't forget to set a duration! */
}
.Cuerpo-un
{
  margin-top: -16.4cm;
  width: 100%;
  position: absolute;
}

#Grupo
{
  margin-top: -4.5cm;
  position: absolute;
  background: #0f2b3a;

  width: 100%;
  height: 3500px;
}

#sxc_Maissa
{
  position: relative;
}

.Maissa
{
  margin-left: 2cm;
  margin-top: 2cm;
  position: absolute;
  width: 550px;
  height: 450px;
  
}

.marco1
{
  margin-left: 2cm;
  margin-top: 2cm;
  position: absolute;
  width: 610px;
  height: 510px;

}

#inf_personal
{
  position: absolute;
  margin-top: 2.5cm;
  margin-left: 18.5cm;
}

#nomb
{
  margin-left: 20px;
  color: #ffbc51;
}

#inf
{
  margin-left: -20px;
  font-size: 35px;
  line-height: 2cm;
  margin-top: 1.5cm;
  color: aliceblue;
}


#sxc_Sussan
{
  position: relative;
}

.Sussan
{
  margin-left: 2cm;
  margin-top: 15.9cm;
  position: absolute;
  width: 450px;
  height: 490px;
  
}

.marco2
{
  margin-left: 1.5cm;
  margin-top: 15.9cm;
  position: absolute;
  width: 550px;
  height: 570px;

}


#inf_personal2
{
  position: absolute;
  margin-top:  18.1cm;
  margin-left: 17cm;
}

#nomb2
{
  margin-left: 20px;
  color: #ffbc51;
}

#inf2
{
  margin-left: -20px;
  font-size: 35px;
  line-height: 2cm;
  margin-top: 1.5cm;
  color: aliceblue;
}

.Karla
{
  margin-left: 2cm;
  margin-top: 31.5cm;
  position: absolute;
  width: 470px;
  height: 520px;

}

.marco3
{
  margin-left: 1.5cm;
  margin-top: 31.5cm;
  position: absolute;
  width: 550px;
  height: 570px;

}

#inf_personal3
{
  position: absolute;
  margin-top: 32.5cm;
  margin-left: 17cm;
}

#nomb3
{
  margin-left: 20px;
  color: #ffbc51;
}

#inf3
{
  margin-left: -20px;
  font-size: 35px;
  line-height: 2cm;
  margin-top: 1.5cm;
  color: aliceblue;
}



.Mario
{
  margin-left: 2cm;
  margin-top: 48.9cm;
  position: absolute;
  width: 500px;
  height: 450px;

}

.marco4
{
  margin-left: 1.5cm;
  margin-top: 48.8cm;
  position: absolute;
  width: 560px;
  height: 500px;

}

#sxc_Mario
{
  margin-top: -1.9cm;
}
#inf_personal4
{
  position: absolute;
  margin-top: 49.5cm;
  margin-left: 17cm;
}

#nomb4
{
  margin-left: 20px;
  color: #ffbc51;
}

#inf4
{
  margin-left: -20px;
  font-size: 35px;
  line-height: 2cm;
  margin-top: 1.5cm;
  color: aliceblue;
}



.Jose
{
  margin-left: 2cm;
  margin-top: 64.5cm;
  position: absolute;
  width: 500px;
  height: 450px;

}

.marco5
{
  margin-left: 1.5cm;
  margin-top: 63.5cm;
  position: absolute;
  width: 560px;
  height: 500px;
}

#inf_personal5
{
  position: absolute;
  margin-top: 63.5cm;
  margin-left: 17cm;
}

#nomb5
{
  margin-left: 20px;
  color: #ffbc51;
}

#inf5
{
  margin-left: -20px;
  font-size: 35px;
  line-height: 2cm;
  margin-top: 1.5cm;
  color: aliceblue;
}

#Acerca_d
{
  margin-top: 80cm;

}

#origen
{
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  color: #e656a5;
  text-decoration: none;
}

#destino
{
  margin-top: -0.9cm;
  margin-left: 6.8cm;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  color: #e656a5;
  text-decoration: none;

}
#salida
{
  margin-top: -1cm;
  margin-left: 13.1cm;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  color: #e656a5;
  text-decoration: none;
}

#btn_enviar
{
  margin-top: -0.8cm;

}
#Enviar
{
  padding: 5px;
  border-radius: 8px;
  margin-left: 23.1cm;
  color: #0f2b3a;
  background: #ecac44;
  text-decoration: none;
  text-align: center;
  font-family: 'Bree Serif', serif;
}
#regreso
{
  margin-top: -1.1cm;
  margin-left: 17.6cm;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  color: #e656a5;
  text-decoration: none;

}

