.buscar_pais
{
    
    background-color: white;
    width: 5.8cm;
    height: 0.9cm;
    border-color: #0f2b3a;
    border-width: 1.4px;
    border-radius: 5px;
}

#start1,#start2{
    width: 3.8cm;
    height: 0.8cm;
}


.origen{
    margin-left: 90px;
}
.destino{
    margin-left: 85px;
    margin-top: 2px;
}
.Fecha_i{
    margin-left: 35px;
    margin-top: 2px;
}
.Fecha_f{
    margin-left: 39px;
    margin-top: 2px;
}
.Nom_Comprador{
    margin-top: 4px;
    margin-left: 4px;
}
.fondo-compra{
    background-image: url(../Imagenes/Fondo_Compra.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#factura{
    background-color: skyblue;
}
#boton1,#boton2,#boton3{
    background-color: teal;
}

#Text-Aero
{
    position: absolute;
    margin-left: 390px;
    margin-top: 60px;
    color: white;
  }

#Encb_Formulario_Compra{
    background-color: #0f2b3a;
    width: 920px;
    height: 55px;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px;
}
#Cont-Form-Compra{
    background-color: white;
    width: 920px;
    height: 570px;
    position: absolute;
    margin-left: 250px;
    margin-top: 160px;
    border-radius: 15px;
  }
  #NiñosID{
    position: absolute;
    margin-left: 320px;
    margin-top: -20px;
  }
  #JovenesID{
    margin-left: 415px;
    margin-top: -18px;
  }
  #AdultosID{
    margin-left: 522px;
    margin-top: -18px;
  }
  
  Fieldset{
  position: absolute;
  margin-top: 20px;
  width: 500px;
  height: 295px;
  }
  .Centrar-Titulo{
    margin-left: 170px;
  }

  #Text-Compra{
    margin-left: 470px;
    margin-top: 60px;
    position: absolute;
    color: white;
}
#foto{
    width: 500px;;
    height: 290px;
    margin: 0px;
    overflow: hidden;
}
#foto ul{
    padding: 0;
    display: flex;
    animation: cambio 20s infinite alternate;
    animation-timing-function:ease-in;
}
#foto li{
    list-style: none;
}
@keyframes cambio{
    0%{margin-left: 0;}
    8%{margin-left: 0;}
    12%{margin-left: -100%;}
    20%{margin-left: -100%;}
    24%{margin-left: -200%;}
    32%{margin-left: -200%;}
    36%{margin-left: -300%;}
    44%{margin-left: -300%;}
    48%{margin-left: -400%;}
    56%{margin-left: -400%;}
    60%{margin-left: -500%;}
    68%{margin-left: -600%;}
    72%{margin-left: -700%;}
    80%{margin-left: -700%;}
    84%{margin-left: -800%;}
    100%{margin-left: -800%;}
}
/*Nuevo css en Aerolinea*/
#Texto-Aerolineas,h1{
    color: rgb(11, 175, 175);
    text-align: center;
}
#Texto-Aerolineas{
    margin-top: -30px;
    margin-left: 30px;
    margin-right: 30px;
}
#Texto-Parrafo,p{
    margin-top: 10px;
    text-align: center;
    color: rgb(11, 175, 175);
}
#Estados-Unidos{
    margin-left: 20px;
}
#Paises1{
    text-align: left;
    margin-left: 4cm;
}
#España{
    margin-left: 19cm;
    margin-top: -447px;
}
#Paises2{
    margin-left: 900px;
    margin-top: -568px;
    position: absolute;
}
#Contenedor-Imagen{
    position: relative;
}
#Pie-Aerolinea{
    margin-top: 90px;
  }

#Paises3{
    text-align: left;
    margin-left: 6cm;
}
#Honduras{
    margin-left: 25px;
}
#Paises4{
    text-align: right;
    margin-right: 150px;
    margin-top: -560px;
}
#Colombia{
    margin-left: 720px;
    margin-top: -10px;
}
#Pie-Compra{
    margin-top: 300px;
}