.buscar_pais
{
    background-color: white;
    width: 5.8cm;
    height: 0.9cm;
    border-color: #0f2b3a;
    border-width: 1.4px;
    border-radius: 5px;
}

#start1,#start2{
    width: 3.8cm;
    height: 0.8cm;
}

#Enviar
{
    position: absolute;
    margin-left: 850px;
    margin-top: -13px;
    width: 65px;
    height: 30px;
    background-color: cadetblue;
}

.origen{
    margin-left: 90px;
}
.destino{
    margin-left: 85px;
    margin-top: 2px;
}
.Fecha_i{
    margin-left: 35px;
    margin-top: 2px;
}
.Fecha_f{
    margin-left: 39px;
    margin-top: 2px;
}
.Nom_Comprador{
    margin-top: 4px;
    margin-left: 4px;
}
.fondo-compra{
    background-image: url(../Imagenes/aero9.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#factura{
    background-color: skyblue;
}
#boton1,#boton2,#boton3{
    background-color: teal;
}
