.buscar_pais
{
    background-color: white;
    width: 5.8cm;
    height: 0.9cm;
    border-color: #0f2b3a;
    border-width: 1.4px;
    border-radius: 5px;
}

#start{
    width: 3.8cm;
    height: 0.8cm;
}

#Enviar
{
    position: absolute;
    margin-left: 870px;
    margin-top: -13px;
    width: 30px;
    height: 30px;
}

#Enviar:hover
{
    
    margin-left: 870px;
    margin-top: -13px;
    width: 30px;
    height: 30px;
    background-image: url(../Imagenes/enviar2.png);
}

